   

<div class="mt-5">
    <div class="div-box">
        <a asp-area="Admin" asp-controller="AddBicycle" asp-action="Index" asp-route-id="">Добавить велосипед</a>
    </div>
    <div class="div-box">
        <a asp-area="Admin" asp-controller="ShowOrder" asp-action="Index" asp-route-id="">Просмотр заказов</a>
    </div>


    <div class="div-box">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Выйти" />
        </form>
    </div>
</div>